<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ note_path }} - Math Notes</title>
    <script>
        const NOTES_LIST = {{ notes_json|safe }};
    </script>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
    <script src="/static/script.js" defer></script>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <link rel="icon" type="image/png" href="/static/favicon.png">
</head>
<body style=" padding: 0em; margin: 0 auto">
    <nav>
        <div id="up_nav" >
            <!-- search bar-->
            <input type="text" id="search" placeholder="Search notes...">
            <div id="search-results"></div>
            <!-- folder filter-->
            <select id="folderFilter">
                {% for folder in folders %}
                    <option value="{{ folder }}">{{ folder }}</option>
                {% endfor %}
            </select>
            <!--subfolder filter-->
            <select id="subfolderFilter">
                <option value=""></option>
            </select>
        </div>
        <!--Note.html filter-->
        <div id="topic_nav">
            <select id="noteSelect" onchange="location = this.value;"></select>
        </div>
    </nav>



    <div class="nav-buttons">
        {% if prev_note %}
        <a id="skip_backward" href="/note/{{ prev_note }}" >BACK</a>
        {% else %}
        <span id="skip_backward">BACK</span>
        {% endif %}
        <a>View By Topics</a>
        {% if next_note %}
        <a id="skip_forward" href="/note/{{ next_note }}" >NEXT</a>
        {% else %}
        <span id="skip_forward">NEXT</span>
        {% endif %}
    </div>
                            
    <div class="note-content" style="margin: auto 0 auto 0">{{ content|safe }}</div>
    
</body>
</html>